header {
  background-color: #4499b6;
  padding: 25px;
  text-align: center;
  color: #ffffff;
  font-family: 'Vujahday Script';
}

h1 {
  font-size: 75px;
}

body {
  font-family: 'Caveat';
  background-color: #add8e6;
  font-size: 30px;
}

.card {
  min-width: 20rem;
  margin: 5px;
}

.card-header {
  background-color: #CE4646;
  color: #ffffff;
  text-align: center;
}

.memberName {
  font-size: 25px;
  font-family: 'Kalam';
}

.memberRole {
  font-size: 25px;
}

.list-group-item {
  font-size: 20px;
}
